<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AddCowin Alert</title>
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/front.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-color-nav d-flex justify-content-center">
      <a class="navbar-brand display-1" href="/">cowin updater</a>
    </nav>
    <form class="alert-add-form border mt-2" action="/addAlert" method="post">
      <div class="col-12 userName">
        <label class="userName-label" for="userName">Enter your name</label>
        <input
          class="form-control"
          placeholder="Jhon Doe"
          type="text"
          name="userName"
          required
        />
      </div>
      <div class="filters col-12 border-top">
        <label class="filters-label" for="">Filters</label>
        <section class="row">
          <section class="col-6">
            <label for="state">State / UT</label>
            <select class="form-control" name="state" id="state" required>
              <option hidden disabled selected value>(select an option)</option>
              <% for( state of states ) { %>
              <option value=<%=state.state_id%>
                > <%= state.state_name %>
              </option>

              <% } %>
            </select>
          </section>
          <section class="col-6">
            <label class="district-label" for="district">District</label>
            <select class="form-control" name="district" id="district" required>
              <option hidden disabled selected value>(select an option)</option>
            </select>
          </section>
        </section>
        <section class="row age-filter">
          <section class="col-12">
            <label class="age-label" for="age">Age</label>
            <section class="row">
              <label for="age" class="col-6"
                ><input type="radio" name="age" id="age" value="18" required />
                18 to 44 years</label
              >
              <label for="age" class="col-6"
                ><input type="radio" name="age" id="age" value="45" required />
                45 year above</label
              >
            </section>
          </section>
        </section>
        <section class="row vaccine-filter">
            <section class="col-12 radio_container" >
                <label class="age-label" for="age">Select Vaccine :</label>
              <section class=" row col-12 btn-group col-12" role="group" aria-label="Basic example">
                  <section class="option col-4 btn btn-outline-secondary">
                      covaxin
                    <input type="radio" name="vaccine" id="vaccine" value="covaxin" required />

                  </section>
                <section class="option col-4 btn btn-outline-secondary">
                    covishield
                    <input type="radio" name="vaccine" id="vaccine" value="covishield" required />
                </section>
                <section class="option col-4 btn btn-outline-secondary">
                    Any
                    <input type="radio" name="vaccine" id="vaccine" value="Any" required />
                </section>
              </section>
            </section>
          </section>
      </div>

      <div class="contacts col-12 border-top">
        <label class="contacts-label">Contact Details</label>
        <br />
        <section class="row">
          <section class="col-6">
            <label for="pHno">Mobile number</label>
            <input
              class="form-control"
              type="number"
              name="pHno"
              id="pHno"
              required
            />
          </section>
          <section class="col-6">
            <label for="email">Email</label>
            <input
              class="form-control"
              type="email"
              name="email"
              id="email"
              required
            />
          </section>
        </section>
      </div>
      <div class="col-12 pb-3">
        <button class="btn font-weight-bolder col-12 btn-dark" type="submit">
          Add Alert
        </button>
      </div>
    </form>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/front.js"></script>
  </body>
</html>
